body {
  background: #fafafa;
  font-family: simsun;
}


/* <main>*/

.main {
  padding: 20px;
  padding-top: 0;
  background-color: #fafafa;
}

@media (min-width: 768px) {
  .main {
    padding-right: 26px;
    padding-left: 26px;
  }
}


/*--- </mian>----   */


/*PAGE-HEADER*/

.main .page-header {
  position: relative;
  min-height: 66px;
  line-height: 66px;
  padding-left: 26px;
  padding-bottom: 0;
  margin-top: 0;
  margin-left: -26px;
  margin-right: -26px;
  margin-bottom: 20px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  background: #fff;
  color: #5D5D5D;
}

a,
a:hover,
a:focus,
button,
button:hover,
button:focus,
button:active {
  outline: 0;
  -moz-outline: none;
  text-decoration: none;
  outline: medium none !important;
}

.box.border {
  border-radius: 5px;
}

.box {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

.box.border.pink {
  border: 1px solid #DA4F82;
}

.box.border.blue {
  border: 1px solid #348EC0;
}

.box.border.gray {
  border: 1px solid #5E5E5E;
}

.box.border.red {
  border: 1px solid #d43f3a;
}

.box.border.green {
  border: 1px solid #96AA6B;
}

.box.border.orange {
  border: 1px solid #D8993C;
}

.box.border.default {
  border: 1px solid #CCC;
}


/*阶段box */

.box.border.yellow {
  border: 1px solid #D29337;
}

.yellow .box-title {
  background: #EFAD4D;
  border-bottom: #D29337;
}


/*紫色*/

.box.border.violet {
  border: 1px solid #498CA2;
}

.violet .box-title {
  background: #A795CE;
  border-bottom: #498CA2;
}


/*青绿色*/

.box.border.cyan {
  border: 1px solid #71AFC4;
}

.cyan .box-title {
  background: #71AFC4;
  border-bottom: #71AFC4;
}

.box-title {
  position: relative;
  min-height: 38px;
  padding: 5px 20px 10px;
  color: #FFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.box-body:before,
.box-body:after {
  display: table;
  content: " ";
}

.box-body:after {
  clear: both;
}

.box-body {
  min-height: 635px;
  padding: 10px 20px;
  background: #FFF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media (max-width:768px) {
  .box-body {
    padding: 15px 26px;
  }
}

.pink .box-title {
  background: #D55383;
  border-bottom: #DA4F82;
}

.gray .box-title {
  background: #555;
  border-bottom: #5E5E5E;
}

.red .box-title {
  background: #d9534f;
  border-bottom: #d43f3a;
}

.green .box-title {
  background: #A0B66F;
  border-bottom: #96AA6B;
}

.orange .box-title {
  background: #EFAD4D;
  border-bottom: #D8993C;
}

.blue .box-title {
  background: #3894C7;
  border-bottom: #348EC0;
}

.icon {
  display: inline-block;
  position: relative;
  z-index: 100;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}



/* 错误信息提示 */

.msg-error {
  display: none;
  font-size: 12px;
  font-weight: 300;
}


/* 显示错误信息 */

.has-error .msg-error {
  display: block;
}



/*进度条*/

.progress {
  overflow: visible;
  background: #D5D5D5;
}

.progress-bar {
  position: relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.progress.progress-sm {
  height: 10px;
  border-radius: 10px;
  position: relative;
}


/*btn*/

.btn-visit,
.btn-visit:hover,
.btn-visit:focus {
  background: #3993C7;
  color: #FFF;
}

.btn-blue {
  background: #3993C7;
  color: #FFF;
}

.btn-blue:hover,
.btn-blue:focus {
  background: #219ee5;
  color: #FFF;
}

.btn-b-style{
  width: 50px;
  height: 26px;
  line-height: 10px;
  margin-left: 20px;
  font-size: 12px;
}
.btn-bn-style{
  width:64px;
  height: 22px;
  line-height: 10px;
  font-size: 12px;
  padding-left: 8px;
}

.btn-bluee{

  height: 22px;
  line-height: 10px;
  margin-left: 20px;
  font-size: 12px;
  padding-left: 8px;
}

.btn-red {
  background: #fa6161;
  color: #FFF;
  border: 1px solid #F14747;
}

.btn-red:hover,
.btn-red:focus {
  background: #f67373;
  color: #FFF;
}

.btn-yellow {
  background: #fa7a2c;
  color: #FFF;
  border: 1px solid #F47121;
}

.btn-yellow:hover,
.btn-yellow:focus {
  background: #ff8840;
  color: #FFF;
}

.align-right {
  text-align: right;
}


/*虚线*/

.hr {
  margin: 15px -20px;
  border-top: 1px dashed #D4D4D4;
  clear: both;
}

/*实线*/


.marg-b-10 {
  margin-bottom: 10px;
}

.marg-b-20 {
  margin-bottom: 20px;
}


/*不同状态文字颜色*/

.text-danger {
  color: #DE433E;
}

.text-primary {
  color: #3894C7;
}/*新图标实现方式*/

.ico {
  padding: 2px 18px 6px 2px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}

/* 区域切换 */

.area-choose {
  display: inline-block;
  margin-left: 30px;
  margin-right: 20px;
  font-size: 14px;
}

.area-choose>span {
  font-weight: 400;
}

.are-line {
  font-size: 12px;
  font-weight: 400;
}


/*添加成员按钮*/

.member-add-btn {
  margin-left: 20px;
}

.saojie-add-box .box-body {
  padding-top: 20px;
}

.quyujiegou .box-title {
  padding-top: 10px;
}


/*导出*/

a.table-export {
  position: relative;
  padding: 2px;
  margin: 0 10px;
  font-size: 12px;
  font-weight: bold;
}

a.table-export:hover,
a.table-export:focus {
  color: #3B92C7;
  border-bottom: 1px solid #3B92C7;
}


/*table-overflow 文字不换行*/

.table-overflow {
  position: relative;
  overflow-x: auto;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-overflow > .table > thead > tr > th,
.table-overflow > .table > tbody > tr > th,
.table-overflow > .table > tfoot > tr > th,
.table-overflow > .table > thead > tr > td,
.table-overflow > .table > tbody > tr > td,
.table-overflow > .table > tfoot > tr > td {
  white-space: nowrap;
  vertical-align: middle;
}

/*new-table 新表格布局*/

.new-table {}

.new-table-box {
  border: 1px solid #EEE;
  min-height: 600px;
  background: #FFF;
}

.new-table>thead>tr>th {
  /*border-right: 1px solid #FFF;*/
  border-bottom: none;
  background-color: #DfDFDF;
}

.new-table>thead>tr>th:last-child {
  border-right: none;
}

.new-table>tbody>tr>td,
.new-table>thead>tr>th {
  font-size: 12px;
  color: #555555;
  height: 46px;
  padding-left: 20px;
}

.new-table>tbody>tr>td,
.new-table>tbody>tr:last-child>td {
  border-bottom: 1px solid #EEEEEE;
}

.text-strong {
  font-weight: bold;

}

/*modle-blue*/

.modal-blue .modal-content {
  border: 1px solid #3187B8;
}


@media (min-width: 970px) {
  .modal-blue .modal-body {
    padding-right: 50px;
  }
}

.modal-blue .modal-title {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

.modal-blue .modal-body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #727272;
}
.text-blue{
  color: #3894C7;
}
/* 排序 */
.port{
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 30px;
  padding: 13px 20px;
}
.port:HOVER,
.port:FOCUS,
.port:ACTIVE{
  background: #2F89BB;
}
.port> a{
  color: #FFF;
  font-weight: bold;
  
}
.organization .box-title{
  padding-top: 10px;
}

.search-date {
  display: inline-block;
  width: 10%;
  min-width: 100px;
  position: relative;
  top: 12px;
}

.search-date>input {
  display: inline-block;
  width: auto;
  height: 30px;
}



/*导出*/

.link-posit {
  position: relative;
  display: inline-block;
  text-align: right;
  vertical-align: bottom;
}

.marg-t-10 {
  margin-top: 10px;
}

.img-box{
  display: inline-block;
  width: 260px;
  height: 175px;
  overflow: hidden;
  padding: 5px;
  border: 1px solid #EEE;
  box-sizing: content-box;
}
.img-box>img{
  width: 100%;
}


/*新图标实现方式*/
.ico{
  padding: 2px 18px 6px 2px;
  margin-right: 5px;
  position: relative;
  top:-2px;
}
/* 区域切换 */
.area-choose{
  display: inline-block;
  margin-left: 30px;
  margin-right: 20px;
  font-size: 14px;
}
.area-choose>span{
  font-weight: 400;
}
.are-line{
  font-size: 12px;
  font-weight: 400;
}

/*添加成员按钮*/
.member-add-btn{
  margin-left: 20px;
}
.saojie-add-box .box-body{
  padding-top: 20px;
}
.quyujiegou .box-title{
  padding-top: 10px;
  
}
.table>tbody>tr:hover>td {
  background-color: #fafafa; 
}
.marg-b-30{
  margin-bottom: 30px;
}
.marg-t-30{
  margin-top: 30px;
}






