/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
	padding-top: 50px;
	font-family: simsun;
}
a:hover,a:focus,button,button:hover,button:focus,button:active{
	outline: none;
	-moz-outline: none;
}

/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
	border: 0;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
	display: none;
}

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		margin-top: -1px;
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		background-color: #1e282d;
		border: none;
		color: #83A0AD;
	}
}


/*
 * Main content
 */

.main {
	padding: 20px;
	padding-top: 0;
	background-color: #fafafa;
}

@media (min-width: 768px) {
	.main {
		padding-right: 26px;
		padding-left: 26px;
	}
}

.main .page-header {
	margin-top: 0;
}
.main .page-header-region {
	margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

/**
 * @author ChenGuop
 * @date 15/12/18
 */

.search-box {
	position: relative;
	margin: 5px 0;
	height: 22px;
	padding: 0 10px;
	background: #3893C7;
	border: 1px solid #FFF;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.search-input {
	margin-right: 15px;
	margin-left: 5px;
	height: 20px;
	line-height: 20px;
	color: #FFF;
	font-size: 11px;
	border: none;
	outline: none;
	background: #3893C7;
}

.search-input:focus {
	border: none;
}

.navbar-inverse {
	background-color: #3893C7;
}

.navbar-header {
	padding-left: 20px;
	padding-right: 20px;
	background: #338cbe;
}

.navbar-header .logo {
	display: inline-block;
	position: relative;
}

@media (min-width: 768px) {
	.navbar-header .logo {
		position: relative;
		width: 100%;
	}
}

.logo >img {
	position: absolute;
}
@media (min-width:768px ) {
	.logo >img {
		left: 50%;
		margin-left: -38px;
		margin-top: -10px;
	}
}
.navbar-inverse .navbar-toggle {
	border-color: #fff;
	background: inherit;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: inherit;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-collapse{
	padding-right: 20px;
}
.marg-r-40{
	margin-right: 40px;
}
.navbar-inverse .navbar-nav > li >a:hover,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #328CBE;
}

.dropdown-menu {
	margin: 0;
	padding: 0;
	background: #EFEFEF;
}
.dropdown .dropdown-menu>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}


.mark-red{
	position: absolute;
	top: 2px;
	right: 5px;
	display: block;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	font-size: 9px;
	height: 13px;
	line-height: 15px;
	padding: 0 2px;
	background: #FF4647;
}
.left-mark,
.left-mark:FOCUS,
.left-mark:ACTIVE,
.left-mark:HOVER{
	position: relative;
	top: -9px;
	left:2px;
	display: inline-block;
	padding: 0 2px;
	height: 13px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	font-size: 9px;
	font-weight: 400;
	line-height: 15px;
	background: #FF4647;
	color: #FFF;
}
.navbar-nav > li > a.user-icon-box {
	vertical-align: top;
	padding-left: 40px;
	font-size: 12px;
	background: url(../img/icon/user-icon.png) no-repeat 14px 14px ;
}
.dropdown-menu>li>a.user {
	padding-left: 40px;
}
.upd-icon{
	background: url(../img/icon/upd-icon.png) no-repeat 0 2px;
}
.dropdown-menu .upd-icon:hover{
	background: url(../img/icon/upd-icon.png) no-repeat 0 2px #fff;
}
.dropdown-menu .logout-icon{
	background: url(../img/icon/logout-icon.png) no-repeat 0 2px;
}
.dropdown-menu .logout-icon:hover{
	background: url(../img/icon/logout-icon.png) no-repeat 0 2px #fff;
}
.msg{
	min-width: 306px;
	border-top: none;
}
.dropdown .msg>li:first-child>a{
	cursor: default;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	background:url(../img/icon/msg-count-icon1.png)no-repeat 18px 10px #2d7caa;
	font-size: 14px;
	font-weight:bold;
	color: #fff;
}
.msg>li>a{
	color: #5B5B5B;
	background: url(../img/icon/msg-user-icon.png)no-repeat 12px 12px;
}
.msg>li>a:hover{
	color: #5B5B5B;
	background: url(../img/icon/msg-user-icon.png)no-repeat 12px 12px #fff;
}
.dropdown .msg>li>a{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #1A2327;
    color: #fff;
}
.msg .pull-right{
	font-size: 12px;
}

/*
 * 左侧菜单栏
 */

/* Sidebar navigation */

.nav-sidebar {
	margin-right: -21px;
	/* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar> li{
	border-bottom: 1px solid #1a2327;
}
.nav-sidebar > li > a{
	padding-right: 20px;
	padding-left: 15px;
	color: #83A0AD;
	font-size: 14px;
	font-weight: 600;
	font-family: simsun;
	background: #222D32;
}
.nav-sidebar > li > a :hover{
	color: #fff;
	background-color: #1a2327;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #1a2327;
}

.menu li a{
	text-align: left;
}
.index-bg{
	padding: 0;
/* 	background:url(/static/img/index-bg.jpg); */
	background-size: 100%;
	background-attachment:fixed;
	position: relative;
	padding-right: 0;
}
.index-bg img{
	width: 100%;
	z-index: -100;
}
.index-calender{
	position: absolute;
	top:130px;
	right: 30px;
/* 	opacity: 0.6; */
/* 	filter: alpha(opacity=57); */
}
@media (max-width: 1200px) {
	.index-calender{
		display: none;
	}
}
/*二级菜单样式*/
.menu-second{
	display: none;
	width: 100%;
	list-style-type: none;
	padding-left: 0;
}
/*显示二级菜单*/
.menu>li.active>.menu-second{
	display: block;
} 
.menu-second >li{
	display: block;
	width: 100%;
	font-size: 12px;
	border-bottom: none;
	border-top: 1px solid #1a2327;
}
.menu-second >li.active>a,
.menu-second >li>a:hover{
	color: #FFF;
	background: #1a2327;
}
.menu-second >li>a{
	display: block;
	padding: 10px 0  10px 30px;
	width: 100%;
	color: #83A0AD;
	font-weight: bold;	
	text-decoration: none;
}
.active .menu-second-box,.active .menu-second{
	border-left: 4px solid #3894C7;
	background:#263237 ;
}

/*下拉菜单三角样式*/
.down-icon{
	display: block;
	width: 8px;
	height: 12px;
	margin-top: 3px;
	background: url(../img/icon/left-mean/down-out.png) no-repeat;
}
.menu >li> a:hover .down-icon{
	background: url(../img/icon/left-mean/down-hover.png) no-repeat;
}
.active> a.menu-second-box> .down-icon,
.menu >li.active> a.menu-second-box:hover .down-icon{
	width: 12px;
	height: 8px;
	background: url(../img/icon/left-mean/down-active.png) no-repeat;
}

/*================= 菜单图标=================== */
.menu-icon{
	display: inline-block;
	position:relative;
	top:5px;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
/* 现有的图标名称
yewuguanli
kehuguanli
tianjiachengyuan
yewubaobiao
kehuliebiao
ceshicaidan
caidanguanli
kehubaobiao
yewuquyuhuafen
yewuliebiao
xitongshezhijcsz1.png
saojieshezhi
quyuhuafen
quanxianshezhi
huodongtongzhi
xinjiantongzhi */
/* ==========start 一级菜单=========== */
/*控制台*/
.kongzhitai {
    background: url(../img/icon/left-mean/kzt1.png) no-repeat ;
}
.active .kongzhitai,
a:hover .kongzhitai,
a:focus .kongzhitai{
	background: url(../img/icon/left-mean/kzt2.png) no-repeat;
}
/*业务管理*/
.yewuguanli{
	background: url(../img/icon/left-mean/ywgl1.png) no-repeat;
}
.active .yewuguanli,
a:hover .yewuguanli,
a:focus .yewuguanli{
	background: url(../img/icon/left-mean/ywgl2.png) no-repeat;
}
/*客户管理 */
.kehuguanli{
	background:  url(../img/icon/left-mean/khgl1.png) no-repeat ;
}
.active .kehuguanli,
a:hover .kehuguanli,
a:focus .kehuguanli{
	background:  url(../img/icon/left-mean/khgl2.png) no-repeat ;
}
/* 系统设置 */
.xitongshezhi{
	background:  url(../img/icon/left-mean/jcsz1.png) no-repeat ;
}
.active .xitongshezhi,
a:hover .xitongshezhi,
a:focus .xitongshezhi{
	background:  url(../img/icon/left-mean/jcsz2.png) no-repeat ;
}
/* 活动通知  */
.huodongtongzhi{
	background:  url(../img/icon/left-mean/hdtz1.png) no-repeat ;
}
.active .huodongtongzhi,
a:hover .huodongtongzhi,
a:focus .huodongtongzhi{
	background:  url(../img/icon/left-mean/hdtz2.png) no-repeat ;
}
/*统计*/
.tongji{
	background:  url(../img/icon/left-mean/tj1.png) no-repeat;
}
.active .tongji,
a:hover .tongji,
a:focus .tongji{
	background:  url(../img/icon/left-mean/tj2.png) no-repeat ;
}
/* 菜单管理 */
.caidanguanli{
	background:  url(../img/icon/left-mean/cdgl1.png) no-repeat ;
}
.active .caidanguanli,
a:hover .caidanguanli,
a:focus .caidanguanli{
	background:  url(../img/icon/left-mean/cdgl2.png) no-repeat ;
}
/*--产品销量 ----*/
.chanpinxiaoliang{
	background:  url(../img/icon/left-mean/cpxl1.png) no-repeat ;
}
.active .chanpinxiaoliang,
a:hover .chanpinxiaoliang,
a:focus .chanpinxiaoliang{/*没有下拉框的一级菜单*/
	background:  url(../img/icon/left-mean/cpxl2.png) no-repeat ;
}
/*库存*/
.kucun{
	background:  url(../img/icon/left-mean/kc1.png) no-repeat;
}
.active .kucun,
a:hover .kucun,
a:focus .kucun{
	background:  url(../img/icon/left-mean/kc2.png) no-repeat ;
}
/* ==========end 一级菜单=========== */
/* ==========start 业务管理=============== */
/* 团队成员 */
.tuanduichengyuan{
	background: url(../img/icon/left-mean/ywmanage/ywgl_tdcy1.png) no-repeat;
}
.menu-second .active .tuanduichengyuan,
.menu-second a:hover .tuanduichengyuan,
.menu-second a:focus .tuanduichengyuan{
	background: url(../img/icon/left-mean/ywmanage/ywgl_tdcy2.png) no-repeat;
}
/* 扫街设置 */
.saojieshezhi{
	background: url(../img/icon/left-mean/ywmanage/ywgl_cjsz1.png) no-repeat;
}
.menu-second .active .saojieshezhi,
.menu-second a:hover .saojieshezhi,
.menu-second a:focus .saojieshezhi{
	background: url(../img/icon/left-mean/ywmanage/ywgl_cjsz2.png) no-repeat;
}
/* 客户开发 */
.kaohekaifa{
	background: url(../img/icon/left-mean/ywmanage/ywgl_khkf1.png) no-repeat;
}
.menu-second .active .kaohekaifa,
.menu-second a:hover .kaohekaifa,
.menu-second a:focus .kaohekaifa{
	background: url(../img/icon/left-mean/ywmanage/ywgl_khkf2.png) no-repeat;
}
/* 业务考核 */
.yewukaohe{
	background: url(../img/icon/left-mean/ywmanage/ywgl_ywkh1.png) no-repeat;
}
.menu-second .active .yewukaohe,
.menu-second a:hover .yewukaohe,
.menu-second a:focus .yewukaohe{
	background: url(../img/icon/left-mean/ywmanage/ywgl_ywkh2.png) no-repeat;
}
/* 任务 */
.renwu{
	background: url(../img/icon/left-mean/ywmanage/ywgl_rw1.png) no-repeat;
}
.menu-second .active .renwu,
.menu-second a:hover .renwu,
.menu-second a:focus .renwu{
	background: url(../img/icon/left-mean/ywmanage/ywgl_rw2.png) no-repeat;
}
/* 签收记录 */
.qianshoujilu{
	background: url(../img/icon/left-mean/ywmanage/ywgl_qsjl1.png) no-repeat;
}
.menu-second .active .qianshoujilu,
.menu-second a:hover .qianshoujilu,
.menu-second a:focus .qianshoujilu{
	background: url(../img/icon/left-mean/ywmanage/ywgl_qsjl2.png) no-repeat;
}
/* 调价申请 */
.tiaojishenqing{
	background: url(../img/icon/left-mean/ywmanage/ywgl_tjsq1.png) no-repeat;
}
.menu-second .active .tiaojishenqing,
.menu-second a:hover .tiaojishenqing,
.menu-second a:focus .tiaojishenqing{
	background: url(../img/icon/left-mean/ywmanage/ywgl_tjsq2.png) no-repeat;
}
/* 未收款报备 */
.weishoukuanbaobei{
	background: url(../img/icon/left-mean/ywmanage/ywgl_wskbb1.png) no-repeat;
}
.menu-second .active .weishoukuanbaobei,
.menu-second a:hover .weishoukuanbaobei,
.menu-second a:focus .weishoukuanbaobei{
	background: url(../img/icon/left-mean/ywmanage/ywgl_wskbb2.png) no-repeat;
}
/* 拜访记录 */
.baifangjilu{
	background: url(../img/icon/left-mean/ywmanage/ywgl_bfjl2.png) no-repeat;
}
.menu-second .active .baifangjilu,
.menu-second a:hover .baifangjilu,
.menu-second a:focus .baifangjilu{
	background: url(../img/icon/left-mean/ywmanage/ywgl_bfjl2.png) no-repeat;
}
/* 足迹 */
.zuji{
	background: url(../img/icon/left-mean/ywmanage/ywgl_zj1.png) no-repeat;
}
.menu-second .active .zuji,
.menu-second a:hover .zuji,
.menu-second a:focus .zuji{
	background: url(../img/icon/left-mean/ywmanage/ywgl_zj2.png) no-repeat;
}
/* 收益 */
.shouyi{
	background: url(../img/icon/left-mean/ywmanage/ywgl_sy1.png) no-repeat;
}
.menu-second .active .shouyi,
.menu-second a:hover .shouyi,
.menu-second a:focus .shouyi{
	background: url(../img/icon/left-mean/ywmanage/ywgl_sy2.png) no-repeat;
}
/* ==========end 业务管理=============== */
/* ===========start 客户管理=============== */
/* 商家分布 */
.shangjiafenbu{
	background: url(../img/icon/left-mean/khmanage/khgl_sjfb1.png) no-repeat;
}
.menu-second .active .shangjiafenbu,
.menu-second a:hover .shangjiafenbu,
.menu-second a:focus .shangjiafenbu{
	background: url(../img/icon/left-mean/khmanage/khgl_sjfb2.png) no-repeat;
}
/* 活跃度 */
.huoyuedu{
	background: url(../img/icon/left-mean/khmanage/khgl_hykh1.png) no-repeat;
}
.menu-second .active .huoyuedu,
.menu-second a:hover .huoyuedu,
.menu-second a:focus .huoyuedu{
	background: url(../img/icon/left-mean/khmanage/khgl_hykh2.png) no-repeat;
}
/* 沉积商家 */
.chenjishangjia{
	background: url(../img/icon/left-mean/khmanage/khgl_cjkh1.png) no-repeat;
}
.menu-second .active .chenjishangjia,
.menu-second a:hover .chenjishangjia,
.menu-second a:focus .chenjishangjia{
	background: url(../img/icon/left-mean/khmanage/khgl_cjkh2.png) no-repeat;
}
/* 二次提货 */
.ercitihuo{
	background: url(../img/icon/left-mean/khmanage/khgl_ecth1.png) no-repeat;
}
.menu-second .active .ercitihuo,
.menu-second a:hover .ercitihuo,
.menu-second a:focus .ercitihuo{
	background: url(../img/icon/left-mean/khmanage/khgl_ecth2.png) no-repeat;
}
/* 关联审核 */
.guanlianshenhe{
	background: url(../img/icon/left-mean/khmanage/khgl_glkh1.png.png) no-repeat;
}
.menu-second .active .guanlianshenhe,
.menu-second a:hover .guanlianshenhe,
.menu-second a:focus .guanlianshenhe{
	background: url(../img/icon/left-mean/khmanage/khgl_glkh2.png) no-repeat;
}
/* ===========end 客户管理=============== */
/*============start 统计================*/
/* 商家分析 */
.shangjiafenxi{
	background: url(../img/icon/left-mean/statistics/tj_sjfx1.png) no-repeat;
}
.menu-second .active .shangjiafenxi,
.menu-second a:hover .shangjiafenxi,
.menu-second a:focus .shangjiafenxi{
	background: url(../img/icon/left-mean/statistics/tj_sjfx2.png) no-repeat;
}
/* 产品分析 */
.chanpinfenxi{
	background: url(../img/icon/left-mean/statistics/tj_cpfx1.png) no-repeat;
}
.menu-second .active .chanpinfenxi,
.menu-second a:hover .chanpinfenxi,
.menu-second a:focus .chanpinfenxi{
	background: url(../img/icon/left-mean/statistics/tj_cpfx2.png) no-repeat;
}
/*============end 统计================*/
/* ===========start 系统设置============ */
/* 区域划分 */
.quyuhuafen{
	background: url(../img/icon/left-mean/basic-settings/jcsz_qyhf1.png);
}
.menu-second .active .quyuhuafen,
.menu-second a:hover .quyuhuafen,
.menu-second a:focus .quyuhuafen{
	background: url(../img/icon/left-mean/basic-settings/jcsz_qyhf2.png);
}
/* 权限设置 */
.quanxianshezhi{
	background: url(../img/icon/left-mean/basic-settings/jcsz_qxsz1.png);
}
.menu-second .active .quanxianshezhi,
.menu-second a:hover .quanxianshezhi,
.menu-second a:focus .quanxianshezhi{
	background: url(../img/icon/left-mean/basic-settings/jcsz_qxsz2.png);
}
/* 账号管理 */
.zhanghaoguanli{
	background: url(../img/icon/left-mean/basic-settings/jcsz_zhgl1.png);
}
.menu-second .active .zhanghaoguanli,
.menu-second a:hover .zhanghaoguanli,
.menu-second a:focus .zhanghaoguanli{
	background: url(../img/icon/left-mean/basic-settings/jcsz_zhgl2.png);
}
/* 组织结构 */
.zuzhijiegou{
	background: url(../img/icon/left-mean/basic-settings/jcsz_zzjg1.png);
}
.menu-second .active .zuzhijiegou,
.menu-second a:hover .zuzhijiegou,
.menu-second a:focus .zuzhijiegou{
	background: url(../img/icon/left-mean/basic-settings/jcsz_zzjg2.png);
}
/* ===========end 系统设置============ */

/*PAGE-HEADER*/
.main .page-header {
	position: relative;
	min-height: 66px;
	line-height: 66px;
	margin-top: 0;
	margin-left: -30px;
	margin-bottom: 0;
	padding-left: 30px ;
	margin-right: -30px;
	margin-bottom: 20px;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	background:#fff;
}
.clear-padd{
	padding-left:0;
	padding-right: 0; 
}
a,a:hover,a:focus,button,button:hover,button:focus,button:active{
	outline: 0;
	-moz-outline:none;
	text-decoration: none;
	outline: medium none !important;
}
.myalert{
	display: none;
	width: 500px;
	position: fixed;
	top:100px;
	left: 50%;
	margin-left: -250px;
}



